body {
    padding: 20px;
    background-color: rgba(81, 81, 81, 0.145);
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 0px;
}

h2 {
    color: rgb(0, 183, 255)
}

p {
    font-size: 20px;
}

hr {
    border-color: black;
    size: 20px;

}

.principal {
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgb(136, 136, 136);
}

.inf,
.list,
.cont {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.inf {
    background-color: rgba(3, 190, 253, 0.104);
    border: 2px solid rgb(187, 187, 187);
}

.list {
    background-color: rgba(249, 133, 1, 0.131);
    border: 2px solid rgb(253, 136, 3);
}

.cont {
    background-color: rgba(3, 255, 179, 0.079);
    border: 2px solid rgba(2, 186, 2, 0.488);
}

.mail,
.like {
    color: rgb(2, 173, 2);
}