* {
    align-items: center;
    display: block;
    margin: 0;
}

body {
    padding-top: 40px;
    font-family: arial;
}

.container {
    display: grid;
    grid-template-columns: 1;
}

header {
    display: grid;
    grid-template-columns: 74% 5% 7% 4%;
    background-color: black;
    color: white;
    font-size: 10px;
    padding-left: 90px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.name {
    color: white;
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    color: grey;
    justify-content: center;
    font-size: 15px;

}

.im {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-items: center;
    gap: 20px;
    margin: 20px;

}

.imtext {
    display: block;
    margin: 0;
    margin: 20px;
    width: 70%;

}

h1 {
    color: rgb(255, 51, 6);
    ;
    font-size: 50px;
    text-align: left;
}

p {
    color: #000000;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    font-size: 18px;
    padding: 10px;
    color: white;
    background-color: rgb(255, 51, 6);
}

img {
    border-radius: 20px;
    height: 400px;
    display: block;
    margin: auto;

}

.perfil {
    background-color: rgb(255, 51, 6);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.img2 {
    border-radius: 50%;
    height: 350px;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
    display: block;
    margin: 20px;

}

footer {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    display: block;
    margin: 20px;
}

.perfilp {
    text-align: center;
    padding: 35px;
    color: white;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 75px;
}

.titulproyect {
    color: #000000;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
    margin-top: 0;
    align-items: center;
    gap: 30px;
    height: 800px;
}

.titbaners {
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    display: block;
    margin: 20px;
    justify-items: center;

}

.botonproyec {
    width: 100px;
}

.imgproyect {
    width: 100%;
    padding: 0;
    border-radius: 20px;
    display: block;
    margin: auto 0;
}

.enunciado {
    display: flex;
    padding: 20px;
}

.bot {

    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media(max-width: 770px) {
    * {
        align-items: center;
        display: block;
        margin: 0;
    }

    header {
        display: grid;
        grid-template-columns: 50% 10% 15% 4%;
        background-color: black;
        color: white;
        font-size: 10px;
        padding-left: 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .im {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;




    }

    .imtext {
        display: block;
        margin: 0;
        margin: 20px;
        width: 70%;
        justify-items: center;
    }

    h1 {
        color: rgb(255, 51, 6);
        ;
        font-size: 50px;
        text-align: center;
    }

    p {
        color: #000000;
        font-size: 18px;
        padding: 0;
    }

    button {
        font-size: 18px;
        padding: 10px;
        color: white;
        background-color: rgb(255, 51, 6);
        text-align: center;
    }

    img {
        border-radius: 20px;
        height: 300px;
        display: block;
        margin: auto;

    }

    .perfil {
        background-color: rgb(255, 51, 6);
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .img2 {
        border-radius: 50%;
        height: 250px;
        justify-content: center;
        padding: 0;
        display: block;
        margin: 20px;

    }

    footer {
        font-size: 20px;
        text-align: center;
        color: white;
        padding-bottom: 10px;
        display: block;
        margin: 20px;
    }

    .perfilp {
        text-align: center;
        padding: 15px;
        color: white;

    }

    .proyectos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px;
        margin-top: 0;
        align-items: center;
        gap: 30px;
        height: 600px;
    }

    .titbaners {

        justify-content: space-evenly;
        border: 1px solid gray;
        display: block;
        margin: 20px;
        justify-items: center;

    }


    .imgproyect {
        width: 100%;
        padding: 0;
        border-radius: 20px;
        display: block;
        margin: auto 0;
    }

    .enunciado {
        display: flex;
        padding: 10px;

    }
}

@media(max-width: 450px) {
    * {
        align-items: center;
        display: block;
        margin: 0;
    }

    header {
        display: grid;
        grid-template-columns: 50% 13% 17% 10%;
        background-color: black;
        color: white;
        font-size: 1px;
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        padding: 10px;
        padding-left: 0%;
    }

    .name {
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 10px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .im {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
        margin-right: 50px;
    }

    .imtext {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0;
        padding: 0%;
        margin: 0;
        width: 100%;

    }

    h1 {
        color: rgb(255, 51, 6);
        font-size: 30px;
        text-align: center;
    }

    p {
        color: #000000;
        font-size: 12px;
        padding: 20px;

       
    }

    button {
        font-size: 10px;
        padding: 5px;
        color: white;
        background-color: rgb(255, 51, 6);
        text-align: center;
    }

    img {
        border-radius: 20px;
        height: 200px;
        display: block;
        margin: auto;

    }

    .perfil {
        background-color: rgb(255, 51, 6);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-right: 50px;
        justify-items: center;


    }

    .img2 {
        border-radius: 50%;
        height: 100px;
        justify-content: center;
        padding: 0;
        display: block;
        margin: 0;
        margin-top: 5px;

    }

    .titulproyect {
        font-size: 30px;
        padding: 10PX;
    }

    footer {
        font-size: 10px;
        text-align: center;
        color: white;
        padding-bottom: 10px;
        display: block;
        margin: 0;
    }

    .perfilp {
        text-align: center;
        font-size: 12px;
        padding: 15px;
        color: white;
        margin: 0;
    }

    .proyectos {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        height: 400px;
        justify-items: space-evenly;
    }

    .titbaners {

        justify-content: center;
        border: 1px solid gray;
        border-radius: 10px;
        margin-right: 70px;
        justify-items: center;

    }


    .imgproyect {
        width: 100%;
        padding: 0;
        border-radius: 20px;
        display: block;
        margin: auto 0;
    }

    .enunciado {
        display: flex;
        padding: 10px;
        margin: 0;

    }

}